<div data-role="header" data-position="fixed" class="wow fadeIn">
    <h1 class="wow fadeIn" data-wow-delay='0.4s'>ABOUT</h1>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-chevron-left zmd-2x"></i></a>
</div>
<div data-role="content" class="padding-top">
    <div class="padding">
        <h1 class="nd2-headline text-center">About the App</h1>
        <br>
        <p class="text-left">
            <b class="nd2-title">1K: Word Guessing Game</b> <br>
            <span class="nd2-subhead">is limited only in categories of sports, vocabulary, Technology and Countries.</span>
        </p>
        <br>
        <p class="text-center">
            Mary Claire Celestial<br>
            Cherry N. Manzanares <br>
            Remle Jay P. Ponce <br>
            Wilme B. Mauricio <br>
            Angene M. Samson
        </p>
    </div>
</div>
