<div data-role="header" data-position="fixed" class="wow fadeIn">
    <div class="text-center" style="height: 4em">
        <img src="assets/app/aboutpage.png" border="0" style="height: 40px;margin-top: 15px;" />
    </div>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/back.png" border="0" style="height: 40px;" />
    </a>
</div>
<div data-role="content" class="padding-top">
    <div class="padding">
        <h1 class="nd2-headline text-center">About the App</h1>
        <br>
        <p class="text-left">
            <b class="nd2-title">1K: Word Guessing Game</b> <br>
            <span class="nd2-subhead">is limited only in categories of sports, vocabulary, Technology and Countries.</span>
        </p>
        <br>
        <p class="text-center">
            Mary Claire Celestial<br>
            Cherry N. Manzanares <br>
            Remle Jay P. Ponce <br>
            Wilme B. Mauricio <br>
            Angene M. Samson
        </p>
    </div>
</div>
