<div data-role="header" data-position="fixed" class="wow fadeIn">
    <a href="#category_bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/more.png" border="0" style="height: 40px;" />
    </a>
    <div class="text-center" style="height: 4em">
        <img src="assets/app/appheader.png" border="0" style="height: 40px;margin-top: 15px;" />
    </div>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/back.png" border="0" style="height: 40px;" />
    </a>
</div>
<div class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <h1 class="nd2-display-1 text-center">CATEGORY</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="nd2-card" id="sports_card">
                <div class="card-title text-center">
                    <h3 class="card-primary-title">SPORTS</h3>
                </div>
                <div class="card-media">
                    <img src="assets/sports.png">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="nd2-card" id="vocabulary_card">
                <div class="card-title text-center">
                    <h3 class="card-primary-title">VOCABULARY</h3>
                </div>
                <div class="card-media">
                    <img src="assets/vocabulary.png">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="nd2-card" id="countries_card">
                <div class="card-title text-center">
                    <h3 class="card-primary-title">COUNTRIES</h3>
                </div>
                <div class="card-media">
                    <img src="assets/countries.png">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="nd2-card" id="computer_card">
                <div class="card-title text-center">
                    <h3 class="card-primary-title">COMPUTERS</h3>
                </div>
                <div class="card-media">
                    <img src="assets/computer.png">
                </div>
            </div>
        </div>
    </div>
