<div id="jqmHeader" data-role="header" data-position="fixed" class="wow fadeIn game-ui-header">
    <div class="shake shake-chunk shake-constant" style="display: block !important;">
        <a data-role="button" data-inline="true" data-transition="pop" class="ui-btn ui-btn-right ui-btn-inline generate-hint wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
            <img src="assets/app/info.png" border="0" style="height: 40px;" />
        </a>
    </div>
    <a class="ui-btn-score ui-btn ui-btn-right ui-btn-inline wow fadeIn" data-wow-delay='1.2s'>
        <img src="assets/app/greenribon.png" border="0" style="height: 40px;margin-right: 5px;" />
        <span class="game-score">0</span>
    </a>
    <!-- <h1 class="wow fadeIn" data-wow-delay='0.4s'><span class="leveling">15</span><div class="burst-12"></div></h1> -->
    <div class="text-left" style="height: 4em">
        <img src="assets/app/leveling1.png" border="0" style="height: 50px;margin-top: 8px;margin-left: 70px;" />
        <span class="leveling">15</span>
    </div>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/back.png" border="0" style="height: 40px;" />
    </a>
</div>
<div id="jqmContent" class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <div class="row" id="zoom_thumbnail">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="zoom_thumbnail">
                <div class="card-media">
                    <img src="" height="100%" class="img-thumbnail" style="margin: 0 auto;display: flex;">
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="grid_thumbnail">
    </div>
    <div class="row word-gen center-xs"></div>
    <a class="ui-btn ui-btn-inline ui-mini hide" id="showCorrect" href="#correctDialog" data-rel="popup" data-transition="pop"></a>
    <a class="ui-btn ui-btn-inline ui-mini hide" id="showTipDialog" href="#tipDialog" data-rel="popup" data-transition="pop"></a>
     <a class="ui-btn ui-btn-inline ui-mini hide" id="showNotDialog" href="#notDialog" data-rel="popup" data-transition="pop"></a>
     <a class="ui-btn ui-btn-inline ui-mini hide" id="showJokerDialog" href="#jokerDialog" data-rel="popup" data-transition="pop"></a>
</div>
<div data-role="footer" id="jqmFooter" role="contentinfo" class="ui-footer-fixed ui-bar-inherit">
    <div class="row padding contentinfo" style="padding-right: 20px;">
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_1" data-index="1" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_2" data-index="2" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_3" data-index="3" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_4" data-index="4" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_5" data-index="5" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_6" data-index="6" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_7" data-index="7" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_8" data-index="8" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_9" data-index="9" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_10" data-index="10" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_11" data-index="11" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-indigo margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_12" data-index="12" class="zmd-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>
