<div data-role="header" data-position="fixed" class="wow fadeIn">
    <a href="#jokerDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" class="ui-btn ui-btn-right ui-btn-inline wow fadeIn" data-wow-delay='1.2s'>
        <i class="zmdi zmdi-info-outline zmd-lg"></i>
    </a>
    <a class="ui-btn-score ui-btn ui-btn-right ui-btn-inline wow fadeIn" data-wow-delay='1.2s'>
        <i class="zmdi zmdi-money zmd-lg"></i>
        <span class="game-score">0</span>
    </a>
    <h1 class="wow fadeIn" data-wow-delay='0.4s'><span class="leveling">15</span><div class="burst-12"></div></h1>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-chevron-left zmd-2x"></i></a>
</div>
<div class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <div class="row" id="zoom_thumbnail">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="nd2-card zoom_thumbnail">
                <div class="card-media">
                    <img src="assets/computer.png" height="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="grid_thumbnail">
        <!-- <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="nd2-card grid-media">
                <div class="card-media">
                    <img src="http://nd2.godesign.ch/img/examples/card_bg_1.jpg" height="100%">
                </div>
            </div>
        </div> -->
    </div>
    <div class="row word-gen center-xs"></div>
    <a class="ui-btn ui-btn-inline ui-mini hide" id="showCorrect" href="#correctDialog" data-rel="popup" data-transition="pop"></a>
</div>
<div data-role="footer" role="contentinfo" class="ui-footer ui-bar-inherit">
    <div class="row padding contentinfo" style="padding-right: 20px;">
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_1" data-index="1" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_2" data-index="2" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_3" data-index="3" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_4" data-index="4" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_5" data-index="5" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_6" data-index="6" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_7" data-index="7" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_8" data-index="8" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_9" data-index="9" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_10" data-index="10" class="zmd-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="box">
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_11" data-index="11" class="zmd-lg"></i>
                </button>
                <button class="ui-btn ui-btn-inline ui-mini clr-btn-teal margin-top click_letter" style="height: 45px;width: 45px;">
                    <i id="letter_12" data-index="12" class="zmd-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>
