<div data-role="header" data-position="fixed" class="wow fadeIn">
    <div class="text-center" style="height: 4em">
        <img src="assets/app/helppage.png" border="0" style="height: 40px;margin-top: 15px;" />
    </div>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/back.png" border="0" style="height: 40px;" />
    </a>
</div>
<div data-role="content" class="padding-top">
    <div class="padding">
        <h1 class="nd2-title text-left">Instructions Help</h1>
        <p>
            - 5 points will you got if your correct answer.
        </p>
        <p>
        	- 50 will deduct if you hit the hint.
        </p>
    </div>
</div>
