<div data-role="header" data-position="fixed" class="wow fadeIn" data-theme="none">
    <a href="#home_bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/more.png" border="0" style="height: 40px;" />
    </a>
    <div class="text-center" style="height: 4em">
        <img src="assets/app/main.png" border="0" style="height: 40px;margin-top: 15px;" />
    </div>
</div>
<div data-role="content" class="padding-top ui-content">
    <div class="padding">
        <!-- <a href="#name" class="ui-btn ui-btn-play">
        	Play !
        </a> -->
        <a href="#name" class="ui-btn ui-btn-play" data-theme="none" data-shadow="false">
            <img src="assets/app/play.png" border="0" height="70px" />
        </a>
        <!-- <a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" class="ui-btn clr-warning">Quit</a> -->
        <a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" data-theme="none" data-shadow="false" class="ui-btn ui-btn-quit">
            <img src="assets/app/quit.png" border="0" height="70px" />
        </a>
    </div>
</div>
