<div data-role="header" data-position="fixed" class="wow fadeIn">
    <a href="#name_bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s'  data-theme="none" data-shadow="false">
        <img src="assets/app/more.png" border="0" style="height: 40px;" />
    </a>
    <h1 class="wow fadeIn" data-wow-delay='0.4s'>&nbsp</h1>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-chevron-left zmd-2x"></i></a>
</div>
<div class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <span class="nd2-title">New Player?</span>
    <form>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="box">
                    <label for="playername">Enter Name:</label>
                    <input type="text" name="playername" id="playername" value="" data-clear-btn="true" placeholder="John Doe">
                    <a href="#" data-ajax="true" class="ui-btn clr-btn-blue player-save">Save</a>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <span class="nd2-title">Existing Players</span>
    <ul data-role="listview" data-icon="false" class="player-listview">
    </ul>
</div>
