<div data-role="header" data-position="fixed" class="wow fadeIn">
    <a href="#name_bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-more-vert"></i></a>
    <h1 class="wow fadeIn" data-wow-delay='0.4s'>&nbsp</h1>
</div>
<div class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <span class="nd2-title">New Player?</span>
    <form>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="box">
                    <label for="name2b">Enter Name:</label>
                    <input type="text" name="name2" id="name2b" value="" data-clear-btn="true" placeholder="John Doe">
                    <a href="#welcome" data-ajax="true" class="ui-btn clr-btn-blue">Save</a>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <span class="nd2-title">Returning Player?</span>
    <ul data-role="listview" data-icon="false">
        <li data-role="list-divider">
            Existing Players
        </li>
        <li>
            <a href="#welcome" data-ajax="true">
                <img src="//lorempixel.com/150/150/people/1/" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Ethel Chancy</h2>
                <p>ehtel.chancy@example.com</p>
            </a>
        </li>
        <li>
            <a href="#welcome" data-ajax="true">
                <img src="//lorempixel.com/150/150/people/2/" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Lorean Gainer</h2>
                <p>lorean87@mail.com</p>
            </a>
        </li>
        <li>
            <a href="#welcome" data-ajax="true">
                <img src="//lorempixel.com/150/150/people/2/" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Lorean Gainer</h2>
                <p>lorean87@mail.com</p>
            </a>
        </li>
        <li>
            <a href="#welcome" data-ajax="true">
                <img src="//lorempixel.com/150/150/people/2/" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Lorean Gainer</h2>
                <p>lorean87@mail.com</p>
            </a>
        </li>
        <li>
            <a href="#welcome" data-ajax="true">
                <img src="//lorempixel.com/150/150/people/2/" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Lorean Gainer</h2>
                <p>lorean87@mail.com</p>
            </a>
        </li>
    </ul>
</div>
