<div data-role="header" data-position="fixed" class="wow fadeIn">
    <h1 class="wow fadeIn" data-wow-delay='0.4s'>SCOREBOARD</h1>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-chevron-left zmd-2x"></i></a>
</div>
<div data-role="content" class="padding-top">
    <h1 class="nd2-headline text-center">SCOREBOARD</h1>
    <ul data-role="listview" data-icon="false" class="player-listview">
        <li>
            <a href="#" class="appplayer" data-ajax="true">
                <img src="assets/photo.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2 class="playername">Sample 1</h2>
            </a>
        </li>
        <li>
            <a href="#" class="appplayer" data-ajax="true">
                <img src="assets/photo.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2 class="playername">Sample 1</h2>
            </a>
        </li>
        <li>
            <a href="#" class="appplayer" data-ajax="true">
                <img src="assets/photo.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2 class="playername">Sample 1</h2>
            </a>
        </li>
        <li>
            <a href="#" class="appplayer" data-ajax="true">
                <img src="assets/photo.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2 class="playername">Sample 1</h2>
            </a>
        </li>
    </ul>
</div>
