<div data-role="header" data-position="fixed" class="wow fadeIn">
    <div class="text-center" style="height: 4em">
        <img src="assets/app/settingspage.png" border="0" style="height: 40px;margin-top: 15px;" />
    </div>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/back.png" border="0" style="height: 40px;" />
    </a>
</div>
<div data-role="content" class="padding-top">
    <div class="padding">
        <ul data-role="listview" data-icon="false">
            <li data-role="list-divider">
                Sound
            </li>
            <li>
                <fieldset>
                    <div data-role="fieldcontain">
                        <select id="flip-checkbox" data-role="flipswitch">
                            <option value="false">Off</option>
                            <option value="true">On</option>
                        </select>
                    </div>
                </fieldset>
            </li>
        </ul>
    </div>
</div>
