<div data-role="header" data-position="fixed" class="wow fadeIn">
    <h1 class="wow fadeIn" data-wow-delay='0.4s'>SETTINGS</h1>
    <a data-rel="back" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-chevron-left zmd-2x"></i></a>
</div>
<div data-role="content" class="padding-top">
    <div class="padding">
        <ul data-role="listview" data-icon="false">
            <li data-role="list-divider">
                Sound
            </li>
            <li>
                <form>
                    <input type="checkbox" data-role="flipswitch" name="flip-checkbox" id="flip-checkbox">
                </form>
            </li>
        </ul>
    </div>
</div>
