<div data-role="header" data-position="fixed" class="wow fadeIn">
    <a href="#welcome_bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s' data-theme="none" data-shadow="false">
        <img src="assets/app/more.png" border="0" style="height: 40px;" />
    </a>
    <div class="text-center" style="height: 4em">
        <img src="assets/app/appheader.png" border="0" style="height: 40px;margin-top: 15px;" />
    </div>
</div>
<div class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <h1 class="nd2-headline text-center">
        <img src="assets/app/welcometext.png" border="0" style="height: 65px;" />
    </h1>
    <h1 class="nd2-display-1 text-center appuser"></h1>
    <span class="appuser_uuid hide"></span>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="#category" class="ui-btn ui-btn-play" data-theme="none" data-shadow="false">
                <img src="assets/app/play.png" border="0" height="70px" />
            </a>
            <a href="#scoreboard" class="ui-btn ui-btn-play" data-theme="none" data-shadow="false">
                <img src="assets/app/scoreboard.png" border="0" height="70px" />
            </a>
            <a href="#quitpopupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" data-theme="none" data-shadow="false" class="ui-btn ui-btn-quit">
                <img src="assets/app/quit.png" border="0" height="70px" />
            </a>
        </div>
    </div>
</div>
