<div data-role="header" data-position="fixed" class="wow fadeIn">
    <a href="#welcome_bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-more-vert"></i></a>
    <h1 class="wow fadeIn" data-wow-delay='0.4s'>1KWORDS</h1>
</div>
<div class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <h1 class="nd2-headline text-center">WELCOME TO 1KWORDS</h1>
    <h3 class="nd2-title text-center appuser"></h3>
    <span class="appuser_uuid hide"></span>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="#category" style="margin-bottom: 10px;" data-ajax="true" class="ui-btn clr-btn-teal">Start</a>
            <a href="#scoreboard" style="margin-bottom: 10px;" data-ajax="true" class="ui-btn clr-btn-orange">Scoreboard</a>
            <a href="#quitpopupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" style="margin-bottom: 10px;" data-ajax="true" class="ui-btn clr-btn-blue">Quit</a>
        </div>
    </div>
</div>
