<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- STYLINGS -->
    <link rel="stylesheet" type="text/css" href="../lib/jquery-mobile-bower/css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" type="text/css" href="../lib/nativeDroid2/css/nativedroid2.css" />
    <link rel="stylesheet" type="text/css" href="../lib/Waves/dist/waves.css" />
    <!-- CUSTOM STYLING -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../lib/jquery-mobile-bower/js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="../lib/nativeDroid2/js/nativedroid2.js"></script>
    <script type="text/javascript" src="../lib/Waves/dist/waves.min.js"></script>
    <!-- CUSTOM JS -->
    <script type="text/javascript" src="../js/welcome/welcome.js"></script>
    <title>1KWORDS:WORD GUESSING GAME</title>
</head>

<body>
    <div data-role="page" id="welcome">
        <div data-role="panel" id="bottomsheet" class="ui-bottom-sheet ui-bottom-sheet-list" data-animate="false" data-position='bottom' data-display="overlay">
            <nd2-include data-src="../templates/home/bottom.sheet.html"></nd2-include>
        </div>
        <div data-role="header" data-position="fixed" class="wow fadeIn">
            <a href="#bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-more-vert"></i></a>
            <h1 class="wow fadeIn" data-wow-delay='0.4s'>1KWORDS</h1>
        </div>
        <div class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
            <h1 class="nd2-title">WELCOME TO 1KWORDS</h1>
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="category.html" style="margin-bottom: 10px;" rel="external" data-ajax="true" class="ui-btn clr-btn-teal">Start</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="welcome.html" style="margin-bottom: 10px;" rel="external" data-ajax="true" class="ui-btn clr-btn-blue">About</a>
                    <a href="welcome.html" style="margin-bottom: 10px;" rel="external" data-ajax="true" class="ui-btn clr-btn-blue">Help</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="welcome.html" style="margin-bottom: 10px;" rel="external" data-ajax="true" class="ui-btn clr-btn-blue">Quit</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
