<div class='row around-xs'>
    <div class='col-xs-auto'>
        <a href='#settings' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'>
        <!-- <i class='zmdi zmdi-wrench zmd-2x'></i> -->
        <img src="assets/app/settings1.png" border="0" style="height: 40px;" />
        <strong>Settings</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#about' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'>
        <!-- <i class='zmdi zmdi-info-outline zmd-2x'></i> -->
        <img src="assets/app/info.png" border="0" style="height: 40px;" />
        <strong>About</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#help' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'>
        <!-- <i class='zmdi zmdi-help-outline zmd-2x'></i> -->
        <img src="assets/app/help1.png" border="0" style="height: 40px;" />
        <strong>Help</strong></a>
    </div>
</div>
