<div class='row around-xs'>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-wrench zmd-2x'></i><strong>Settings</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-info-outline zmd-2x'></i><strong>About</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-help-outline zmd-2x'></i><strong>Help</strong></a>
    </div>
</div>
