<div data-role="header">
    <div class="text-center">
        <img src="assets/app/player.png" border="0" style="height: 40px;margin-top: 10px;" />
    </div>
</div>
<div data-role="content" class="padding">
    <p>Please enter the Player Name: ex. <i>John Doe</i></p>
    <input type="text" name="playername" id="playername" value="" data-clear-btn="true" placeholder="Player Name">
    <a href="#" data-rel="back" data-role="button" data-theme="none" data-shadow="false" class="ui-btn player-save">
        <img src="assets/app/createplayer.png" border="0" style="height: 50px" />
    </a>
    <a href="#" data-rel="back" data-role="button" data-theme="none" data-shadow="false" class="ui-btn">
        <img src="assets/app/cancel.png" border="0" style="height: 50px"  />
    </a>
</div>
