<div data-role="header">
    <div class="text-center">
        <img src="assets/app/exitapp.png" border="0" style="height: 40px;margin-top: 10px;" />
    </div>
</div>
<div data-role="content" class="padding">
    <p>Are you sure to quit the application.</p>
    <a href="#" data-rel="back" data-role="button" data-theme="none" data-shadow="false" class="ui-btn ui-btn-quit">
        <img src="assets/app/quit.png" border="0" height="70px" />
    </a>
    <a href="#" data-rel="back" data-role="button" data-theme="none" data-shadow="false" class="ui-btn">
        <img src="assets/app/cancel.png" border="0" height="70px" />
    </a>
</div>
