<div data-role="header" class="correct-sheet">
    <div class="text-center" style="background:url('assets/app/correctheader.png') no-repeat;height: 4em;background-size: 100% 100%;">
        <!-- <img src="assets/app/correctheader.png" border="0" style="height: 40px;margin-top: 10px;" /> -->
    </div>
</div>
<div data-role="content" class="padding">
    <p class="nd2-title text-center clr-white">GOOD JOB!
        <br> YOU GUESS THE RIGHT WORD!</p>
    <div class="text-center" style="padding-bottom: 20px;padding-top: 20px;">
        <div class="shaking">
            <img src="assets/app/greenribon.png" border="0" style="height: 140px" />
        </div>
        <img src="assets/app/pluspoints.png" border="0" style="height: 50px" />
    </div>
    <a href="#" data-rel="back" data-role="button" data-theme="none" data-shadow="false" class="ui-btn hint-confirm">
        <img src="assets/app/continue.png" border="0" height="70px" />
    </a>
</div>
