<div data-role="header">
    <div class="text-center">
        <img src="assets/app/joker.png" border="0" style="height: 40px;margin-top: 10px;" />
    </div>
</div>
<div data-role="content" class="padding">
    <p>Do you want to reveal a correct letter for <b>50</b> points?</p>
    <a href="#" data-rel="back" data-role="button" data-theme="none" data-shadow="false" class="ui-btn hint-confirm">
        <img src="assets/app/yes.png" border="0" height="70px" />
    </a>
    <a href="#" data-rel="back" data-role="button" data-theme="none" data-shadow="false" class="ui-btn">
        <img src="assets/app/no.png" border="0" height="70px" />
    </a>
</div>
