.ui-listview {
    margin: 1em 0px !important;
}

.clr-white {
    color: #FFFFFF;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
    padding: 10px;
}

.padding-top {
    padding-top: 10px;
}

.padding-right {
    padding-right: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-left {
    padding-left: 10px;
}


/**
 * Content Margin
 * --------------------------------------------------
 */

.margin {
    margin: 10px;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 10px;
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
    border-radius: 4px;
}


/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
    display: none;
}

.show {
    display: block;
}

.opacity-hide {
    opacity: 0;
}

.opacity-show {
    opacity: 1;
}

.invisible {
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/**
 * General Animation
 * --------------------------------------------------
 */

.ui-page-theme-a .ui-header {
    background-color: #ec4b74 !important;
    color: #ffffff;
    border-color: #b71841;
    border-width: 0 1px 4px 1px;
}

.ui-mobile .ui-page {
    background: #e8e2b3;
}

.ui-mobile .ui-page .ui-btn:hover,
.ui-mobile .ui-page .ui-btn:active {
    background-color: #e8e2b3;
}


/**
 * Home Page Animation
 * --------------------------------------------------
 */

#home .ui-content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    border: 10px solid #b9b388;
    border-radius: 15px;
}

#home #popupDialog {
    background: #e8e2b3;
}

#home #home_bottomsheet {
    background: #518ea0;
}

#home #home_bottomsheet .ui-bottom-sheet-link strong {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}


/**
 * PLAYER Page Animation
 * --------------------------------------------------
 */

#name #name_bottomsheet {
    background: #518ea0;
}

#name #name_bottomsheet .ui-bottom-sheet-link strong {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}


/**
 * Welcome Page Animation
 * --------------------------------------------------
 */

#welcome h1.appuser {
    text-transform: uppercase;
    font-weight: 600;
    /*text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    color: #fff;*/
    background-color: #171616;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

#welcome #welcome_bottomsheet {
    background: #518ea0;
}

#welcome #welcome_bottomsheet .ui-bottom-sheet-link strong {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}


/**
 * Category Page Animation
 * --------------------------------------------------
 */

#category #category_bottomsheet {
    background: #518ea0;
}

#category #category_bottomsheet .ui-bottom-sheet-link strong {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

#category .nd2-card {
    background: url('../assets/app/categorybox.png') no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
    padding: 20px;
}


/**
 * Game Page Animation
 * --------------------------------------------------
 */

// #game h1.ui-title {
//     line-height: 2.1em;
// }
#game .ui-btn-score {
    margin-right: 40px;
    width: 4em;
    display: flex;
    height: 2em;
}

#game .click_answer {
    /*height: 45px;
    width: 49px;
    box-shadow: 0px 0px 10px 1px #fff;*/
    height: 35px;
    width: 39px;
    box-shadow: 0px 0px 10px 1px #fff;
    font-size: 10px;
}

.ui-mobile #game.ui-page {
    background: #518ea0 !important;
}

// #game.ui-page .game-ui-header {
//     background-color: #223e8b !important;
//     color: #ffffff !important;
//     border-color: #162059 !important;
//     border-width: 0 1px 4px 1px !important;
// }
#game .ui-footer {
    background-color: transparent;
    border: transparent;
}

#game .word-gen {
    padding-top: 20px;
}

#game .ui-popup-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 70px !important;
    left: 0 !important;
    max-width: 100% !important;
}

#game .ui-popup .ui-header .ui-title {
    text-align: center;
}

span.leveling {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 1px;
    margin-left: 85px;
    padding-bottom: 20px;
}

.burst-8 {
    margin-left: 5px;
    background: red;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: white;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20eg);
}

.burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: red;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.burst-12 {
    margin-left: 5px;
    background: red;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
}

.burst-12:before,
.burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: red;
}

.burst-12:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

.burst-12:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}
