.ui-listview {
    margin: 1em 0px !important;
}

.clr-white {
    color: #FFFFFF;
}


/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
    padding: 10px;
}

.padding-top {
    padding-top: 10px;
}

.padding-right {
    padding-right: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-left {
    padding-left: 10px;
}


/**
 * Content Margin
 * --------------------------------------------------
 */

.margin {
    margin: 10px;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 10px;
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
    border-radius: 4px;
}


/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
    display: none;
}

.show {
    display: block;
}

.opacity-hide {
    opacity: 0;
}

.opacity-show {
    opacity: 1;
}

.invisible {
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/**
 * Welcome Page Animation
 * --------------------------------------------------
 */

#welcome h1.nd2-title {}


/**
 * Game Page Animation
 * --------------------------------------------------
 */

#game h1.ui-title {
    line-height: 2.1em;
}

#game .ui-btn-score {
    margin-right: 45px;
    width: 3em;
    line-height: 2.1em;
}

#game .click_answer {
    height: 45px;
    width: 49px;
    box-shadow: 0px 0px 10px 1px #fff;
}

.ui-mobile #game.ui-page {
    background: #2b2e31 !important;
}

#game .ui-footer {
    background-color: transparent;
    border: transparent;
}

#game .word-gen {
    padding-top: 20px;
}

#game .ui-popup-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 70px !important;
    left: 0 !important;
    max-width: 100% !important;
}

#game .ui-popup .ui-header .ui-title{
    text-align: center;
}
