.ui-listview {
    margin: 1em 0px !important;
}
/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
    padding: 10px;
}

.padding-top,
.padding-vertical {
    padding-top: 10px;
}

.padding-right,
.padding-horizontal {
    padding-right: 10px;
}

.padding-bottom,
.padding-vertical {
    padding-bottom: 10px;
}

.padding-left,
.padding-horizontal {
    padding-left: 10px;
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
    border-radius: 4px;
}


/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
    display: none;
}

.show {
    display: block;
}

.opacity-hide {
    opacity: 0;
}

.opacity-show {
    opacity: 1;
}

.invisible {
    visibility: hidden;
}

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }
